@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

html {
  height: 100%;
  box-sizing: border-box;
}

#body#body {
  background-color: rgb(255, 183, 3);
}


body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  color: rgb(21, 21, 21);
  --nav-height: 90px;
  position: relative;
  min-height: 100%;
  padding-bottom: 6.74rem;
  box-sizing: inherit;
}

main {
  width: 80%;
  margin: 0 auto;
  padding: 32px;
}

.Sports {
  background-color: #81c3d7;

}

.eventBoard {
  margin: 0;
  min-height: 100%;
  background-color: rgb(255, 183, 3);
}

.row {
  background-color: #ffc971;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
}

.nav-right {
  float: right;
}

.errorMsg {
  font-size: 24px;
  text-align: center;
}

.group-button {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.carousel-item img {
  height: 350px;
}

.buyButton {
  margin-bottom: 50px;
  height: 50px;
}

.buyButton:hover {
  background-color: #e4eee6;
  color: white;
}

.evtBtn {
  margin-left: 150px;
  height: 60px;
  width: 200px;
  background-color: #ffd500;
  font-size: 20px;
}

.viewButton {
  height: 50px;
}

.button-group {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 70%;

}

.priceRange {
  margin-bottom: 50px;
  color: rgb(166, 36, 36);
  font-weight: bold;
  font-size: 32px;
  letter-spacing: 1px;
}

.viewButton:hover {
  background-color: white;
  color: black;
}

.App {
  background-color: rgb(255, 183, 3);
}

.welcomeMsg {
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  margin-top: 40px;
}

.nav {
  width: 100%;
  height: var(--nav-height);
  top: 0;
  left: 0;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
  transition: transform 0.2s;
  background: #e26d5c;
  font-size: 30px;
}

.nav-hidden {
  transform: translateY(cac(-1 * var(--nav-height)));
}

.eventimg {
  padding: 10px;
  border-radius: 10%;
  margin: 10px;
  width: 400px;
  height: 220px;
}

form {
  display: flex;
  flex-direction: row;
  margin: 15px;
}

.venue {
  margin-top: 10px;
}

.bottom {
  padding: 0;
  margin: 0;
}

.carousel {
  width: 70%;
  height: 400px;
  margin: 40px auto;
}

.carousel-caption {
  text-align: center;
  font-size: 20px;
  top: 220px;
  line-height: initial;
}

.venueTitle {
  font-weight: bold;
  font-size: 32px;
}

.venueDesc {
  width: 70%;
  height: 400px;
  margin: 40px auto;
  font-size: 24px;
  margin-top: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.eventDetail {
  width: 100%;
  height: 100%;
  padding: 30px;
  position: relative;
  background-color: #83c5be;
  bottom: 0;
}

.detail-content {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(2, 800px);
  grid-auto-flow: row dense;
  gap: 70px;
  width: 80%;
  margin: 0 auto;
}

.price-content {
  margin-top: 20px;
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 28px;
}

.content {
  margin-top: 20px;
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 20px;
}

.detailCard {
  margin: 0;
  padding: 20px;
  width: 600px;
  background-color: rgb(213, 214, 237);
}

.left-content {
  margin: 20px;
}

.right-content {
  margin: 40px;
  text-align: center;
  width: fit-content;
}

.detailimg {
  width: 500px;
  height: 450px;
  margin-bottom: 40px;
  border-radius: 10%;
}

.eventTitle {
  font-family: "Segoe UI";
  font-weight: bold;
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 1px
}

.eventType {
  font-family: "Segoe UI";
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 1px;
  font-weight: bold;
}

.eventTime {
  font-family: "Cantarell";
  font-size: 20px;
  text-transform: uppercase;
}

.eventAddress {
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 22px;
  letter-spacing: 1px;
  text-decoration: underline;
}

.card a,
.logo a {
  text-decoration: none;
}

.card {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.10);
  margin: 10px;
  width: 100%;
  margin-top: 35px;
  background-color: #9acddc;
}

.card-body,
.card-text,
.card-title {
  font-size: 22px;
}

.nav-link {
  margin-right: 10px;
  margin-left: 15px;
}

select {
  background: #e07a5f;
  border: none;
}

.navbar a:hover {
  color: rgb(248, 248, 248);
}

.sports {
  margin-top: 50px;
}

.footer {
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #e26d5c;
  position: absolute;
  padding: 25px;
  text-align: center;
}

.footer-text {
  color: black;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  padding: 5px;
  margin: 0;
  text-decoration: none;
  white-space: nowrap;
}

/* Logo EventMaster */
.logo {
  position: relative;
}

.logo i {
  font-size: 60px;
  position: absolute;
  z-index: 0;
  text-align: center;
  width: 100%;
  left: 0;
  color: #023047;
  -webkit-animation: ring 2s ease infinite;
  animation: ring 10s ease infinite;
}

.logo h3 {
  font-weight: 600;
  font-size: 40px;
  position: relative;
  z-index: 1;
  color: rgb(243, 198, 86);
  text-shadow: 1px 1px 0 #171515;
  font-family: 'Lobster', cursive;
}

@-webkit-keyframes ring {
  0% {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg)
  }

  2% {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg)
  }

  4% {
    -webkit-transform: rotate(-18deg);
    transform: rotate(-18deg)
  }

  6% {
    -webkit-transform: rotate(18deg);
    transform: rotate(18deg)
  }

  8% {
    -webkit-transform: rotate(-22deg);
    transform: rotate(-22deg)
  }

  10% {
    -webkit-transform: rotate(22deg);
    transform: rotate(22deg)
  }

  12% {
    -webkit-transform: rotate(-18deg);
    transform: rotate(-18deg)
  }

  14% {
    -webkit-transform: rotate(18deg);
    transform: rotate(18deg)
  }

  16% {
    -webkit-transform: rotate(-12deg);
    transform: rotate(-12deg)
  }

  18% {
    -webkit-transform: rotate(12deg);
    transform: rotate(12deg)
  }

  100%,
  20% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
}

@keyframes ring {
  0% {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg)
  }

  2% {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg)
  }

  4% {
    -webkit-transform: rotate(-18deg);
    transform: rotate(-18deg)
  }

  6% {
    -webkit-transform: rotate(18deg);
    transform: rotate(18deg)
  }

  8% {
    -webkit-transform: rotate(-22deg);
    transform: rotate(-22deg)
  }

  10% {
    -webkit-transform: rotate(22deg);
    transform: rotate(22deg)
  }

  12% {
    -webkit-transform: rotate(-18deg);
    transform: rotate(-18deg)
  }

  14% {
    -webkit-transform: rotate(18deg);
    transform: rotate(18deg)
  }

  16% {
    -webkit-transform: rotate(-12deg);
    transform: rotate(-12deg)
  }

  18% {
    -webkit-transform: rotate(12deg);
    transform: rotate(12deg)
  }

  100%,
  20% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
}

.container-fluid {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.searchInput {
  display: block;
  width: 500px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  margin: 0;
}

.search-button {
  background-color: #fff;
  border: none;
  outline: none;
  width: 15%;
  font-size: 1.5rem;
  padding-right: 0.5em;
  color: gray;
  display: grid;
  place-content: center;
}

.bi-search {
  width: 40px;
  height: 30px;
  margin: 0;
}

.btnClean {
  margin: 0;
  padding: 0;
}

.d-flex {
  padding: 30px;
  width: 100%;
}

.searchBox,
.close-icon {
  position: relative;
  padding: 10px;
}

.searchInput:focus {
  box-shadow: 0 0 15px 5px #c5c5ee;
  border: 1px solid #bebede;
}

.close-icon {
  border: 1px solid transparent;
  background-color: transparent;
  display: inline-block;
  vertical-align: middle;
  outline: 0;
  cursor: pointer;
}

.close-icon:after {
  content: "X";
  display: block;
  width: 30px;
  height: 25px;
  position: absolute;
  background-color: #FA9595;
  z-index: 1;
  right: 45px;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 2px;
  border-radius: 50%;
  text-align: center;
  color: white;
  font-weight: normal;
  font-size: 12px;
  cursor: pointer;
}

.searchInput:not(:valid)~.close-icon {
  display: none;
}

.signup {
  float: right;
  cursor: pointer;
}

.about {
  text-align: center;
  margin-top: 100px;
}

form {
  width: 600vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 5rem;
  color: white;
  font-family: "Arial";
  font-size: 18px;
}

fieldset {
  display: flex;
  flex-direction: column;
}

label {
  text-align: left;
  margin: 1rem 1rem;
}

input,
textarea,
select {
  min-height: 3rem;
  width: 100%;
}

.formTextArea {
  margin: 15px;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

input[type="submit"] {
  display: block;
  width: 140px;
  margin: 1em auto;
  height: 3em;
  font-size: 1.1rem;
  background-color: #777f77;
  border-color: white;
  min-width: 100px;
  border: none;
}

.SignUpform {
  background-color: white;
  border-radius: 5px;
  width: 550px;
  margin: 20px auto;
  padding: 20px;
}

.signImg {
  border-radius: 10px;
  width: 400px;
  height: 450px;
}

.signLeftContent {
  position: relative;
  color: #f9f9fb;
  font-weight: bold;
}

.imgText {
  position: absolute;
  top: 8px;
  left: 16px;
}

.Signform {
  background-color: #f3c34a;
  border-radius: 5px;
  min-width: 650px;
  width: 40%;
  height: 500px;
  margin: 100px auto;
  padding: 20px;
  border: solid 1px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.form-body {
  text-align: left;
  padding: 20px 10px;
}

.form-body>* {
  padding: 5px;
}

.form__label {
  width: 40%;
}

.form_input {
  width: 60%;
}

.signBtn {
  margin-top: 20px;
}

.signupBtn {
  text-align: center;
}

.bi-person-fill {
  margin-left: 5px;
  width: 20px;
  height: 20px;
}

.myEvent{
  display: flex;
  flex-direction: row;
justify-content: baseline;
}

.cart-box{
  margin: 30px;
  padding-top: 30px;
  background-color: #e07a5f;
  text-align: center;
  width: 550px;
  height: 200px;
}

.myEventbtn{
  width: 100px;
  height: 50px;
  background-color: rgb(255, 183, 3);
  font-size: 18px;
  font-weight: bold;
  margin: 10px;
  border-radius: 10px;
}

.total{
  font-size: 28px;
  font-weight: bold;
  color: rgb(81, 7, 7);
  text-align: center;
  margin-bottom: 30px;
}